.cloverlyAPI {
    text-align: center;
}

.cloverlyAPI .btns {
    margin: 0 auto;
}

.cloverlyAPI {
    padding: 150px 0;
}

.cloverlyAPI preSectionCapture {
    line-height: 24px;
    padding-bottom: 9px;
}

.cloverlyAPI h2 {
    line-height: 56px;
    padding-bottom: 13px;
}

.cloverlyAPI p {
    line-height: 26px;
    padding-bottom: 19px;
}

.cloverlyAPI .btns {
    margin-bottom: 60px;
}

.cloverlyAPI .worldMap {
    width: 100%;
}