.intro {
    padding-bottom: 140px;
}

.intro .preSectionCaption {
    font-size: 15px;
    border-radius: 50px;
    text-align: center;
    height: 33px;
    width: 200px;
    background-color: #FFFFFF44;
    color: #FFFFFF;
    padding-top: 6px;
    margin-bottom: 17px;
}

/* images =================================================================================================*/

.partners .partnerLogo:nth-child(1) {
    height: 35px;
    width: 132px;
    background-image: url(../assets/images/partners/looker.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.partners .partnerLogo:nth-child(2) {
    height: 92px;
    width: 92px;
    background-image: url(../assets/images/partners/sustainability.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.partners .partnerLogo:nth-child(3) {
    height: 55px;
    width: 79px;
    background-image: url(../assets/images/partners/techcrunch.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.partners .partnerLogo:nth-child(4) {
    height: 47px;
    width: 160px;
    background-image: url(../assets/images/partners/shopify.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.partners .partnerLogo:nth-child(5) {
    height: 45px;
    width: 200px;
    background-image: url(../assets/images/partners/bigcommerce.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.intro-bg {
    background-image: url(../assets/images/illustrations/intro1.svg);
    background-repeat: no-repeat;
    background-position: 50vw 26px;
}

.intro .textContent {
    width: 50%;
    padding: 109px 0 0;
    min-height: 885px;
}

.intro h1 {
    font-size: 60px;
    line-height: 80px;
    margin-bottom: 10px;
}

.intro .textContent p {
    margin-bottom: 34px;
}

.intro .partners {
    justify-content: space-between;
    align-items: center;
    padding: 0 87px 0 37px;
    flex-wrap: wrap;
    max-width: 1130px;
    margin: 85px auto 0;
    background-color: #FBFCF5;
}