/*reset some properties=======================================================================*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2,
h3 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}