/*section sizes & shapes=========================================================================*/

.wrapper {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 20px;
}

.textContent {
    max-width: 535px;
}

.flex-container {
    display: flex;
}

/*section backgrounds=======================================================================================*/

body {
    background-color: #FBFCF5;
}

/* fonts */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #013A51;
}

.alt-color,
.alt2-color {
    color: #FFFFFF
}

.alt-color {
    background-color: #1FBD8A;
}

.alt2-color {
    background-color: #0A2540;
}

.preSectionCaption {
    color: #00CA90;
}

main li p,
.btn,
a {
    font-size: 15px;
}

h1 {
    font-size: 60px;
    line-height: 80px;
}

h2 {
    font-size: 42px;
    line-height: 56px;
}

main ul h3 {
    font-size: 24px;
    line-height: 32px;
}

/*buttons=======================================================================================*/

.btn {
    border-radius: 50px;
    text-align: center;
    border: 2px solid #00CA90;
    width: 255px;
    padding: 15px 0 19px;
    display: block;
    line-height: 16px;
}

.alt-color .btn:nth-of-type(odd),
.alt2-color .btn:nth-of-type(even) {
    background-color: #FFFFFF;
    color: #013A51;
    border: 0;
}

.alt-color .btn:nth-of-type(even),
.btns .btn {
    background-color: #192F44;
    color: #FFFFFF;
    border: 0;
}

.alt2-color .btn:nth-of-type(odd),
.alt-color:not .btns .btn:nth-last-of-type(even) {
    background-color: #00CA90;
    color: #FFFFFF;
    border: 0;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}