@import url(normalize.css);

/*reset some properties=======================================================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2,
h3 {
    font-size: inherit;
    font-weight: inherit;
}

/*section sizes & shapes=========================================================================*/

header {
    min-height: 71px;
    position: relative;
}

.wrapper {
    width: 1090px;
    margin: 0 auto;
}

.textContent {
    width: 535px;
}

.partners {
    height: 100px;
    width: 1130px;
    margin: 0 auto;
}

.tryCloverly .sign {
    width: 100%;
    border-radius: 30px;
}

footer .separator {
    height: 1px;
}

/*section backgrounds=======================================================================================*/

body,
.partners {
    background-color: #FBFCF5;
}

header,
.intro {
    background-color: #1FBD8A;
}

header {
    box-shadow: 0px 6px 9px rgba(19, 40, 29, 0.1);
}

.howItWorks {
    background-color: #F2F4E8;
}

.forDevelopers,
.tryCloverly .sign,
footer {
    background-color: #193844;
}

.tryCloverly .sign {
    background-image: linear-gradient(180deg, #FFFFFF00 0%, #F2F4E8 217.84%);
}

/* fonts */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #013A51;
}

header,
.intro,
.forDevelopers,
.tryCloverly,
footer {
    color: #FFFFFF
}

.preSectionCaption {
    color: #00CA90;
}

header,
.lowerFooter,
.intro .preSectionCaption,
main li p,
.btn,
a {
    font-size: 15px;
}

footer,
.howItWorks .btn,
.partnerSpotlight .btn,
.signature::first-line {
    font-size: 14px;
}

.signature {
    font-size: 13px;
}

h1 {
    font-size: 60px;
    line-height: 80px;
}

h2 {
    font-size: 42px;
    line-height: 56px;
}

main ul h3 {
    font-size: 24px;
}

.partnerSpotlight p {
    font-size: 21px;
    color: #013A51A0
}

.partnerSpotlight p .sectionStart {
    color: #013A51;
}

.partnerSpotlight blockquote {
    font-size: 25px;
    line-height: 34px;
    font-style: normal;
    display: block;
}

.tryCloverly .sign h2 {
    font-size: 36px;
}

.tryCloverly .sign {
    font-size: 21px;
}

/*buttons=======================================================================================*/

.btn,
.intro .preSectionCaption {
    border-radius: 50px;
    text-align: center;
}

header .btn,
.intro a:first-of-type .btn,
.forDevelopers a:last-of-type .btn {
    background-color: #FFFFFF;
    color: #013A51;
}

.intro a:last-of-type .btn,
.cloverlyAPI a:last-of-type .btn,
.useCases .btn {
    background-color: #192F44;
    color: #FFFFFF;
}

.forDevelopers a:first-of-type .btn,
.cloverlyAPI a:first-of-type .btn,
.tryCloverly .btn,
footer .btn {
    background-color: #00CA90;
    color: #FFFFFF;
}

.howItWorks .btn,
.partnerSpotlight .btn,
.cloverlyBlog .btn {
    border: 2px solid #00CA90;
}

.btn {
    height: 50px;
    width: 255px;
}

.intro .preSectionCaption {
    height: 33px;
    width: 200px;
    background-color: #FFFFFF44;
    color: #FFFFFF;
}

/* images =================================================================================================*/

.partners .partnerLogo:nth-child(1) {
    height: 35px;
    width: 132px;
    background-image: url(../assets/images/partners/looker.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.partners .partnerLogo:nth-child(2) {
    height: 92px;
    width: 92px;
    background-image: url(../assets/images/partners/sustainability.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.partners .partnerLogo:nth-child(3) {
    height: 55px;
    width: 79px;
    background-image: url(../assets/images/partners/techcrunch.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.partners .partnerLogo:nth-child(4) {
    height: 47px;
    width: 160px;
    background-image: url(../assets/images/partners/shopify.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.partners .partnerLogo:nth-child(5) {
    height: 45px;
    width: 200px;
    background-image: url(../assets/images/partners/bigcommerce.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.intro .img:nth-child(1) {
    height: 616px;
    width: 377px;
    background-image: url(../assets/images/illustrations/smartphone.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.intro .img:nth-child(2) {
    height: 322px;
    width: 323px;
    background-image: url(../assets/images/illustrations/mapspot.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.intro .img:nth-child(3) {
    height: 335px;
    width: 935px;
    background-image: url(../assets/images/illustrations/code1.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.intro .img:nth-child(4) {
    height: 540px;
    width: 668px;
    background-image: url(../assets/images/illustrations/webpage.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.forDevelopers .img {
    height: 385px;
    width: 443px;
    background-image: url(../assets/images/illustrations/code2.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.partnerSpotlight blockquote {
    background-image: url(../assets/images/signes/quotes.svg);
    background-repeat: no-repeat;
}