@import url(normalize.css);
@import url(reset.css);
@import url(header.css);
@import url(intro.css);
@import url(cloverlyapi.css);
@import url(howitworks.css);
@import url(usecases.css);
@import url(fordevs.css);
@import url(partnerspotlight.css);
@import url(trycloverly.css);
@import url(cloverlyblog.css);
@import url(footer.css);

/*section sizes & shapes=========================================================================*/

.wrapper {
    max-width: 1090px;
    margin: 0 auto;
}

.textContent {
    max-width: 535px;
}

/*section backgrounds=======================================================================================*/

body {
    background-color: #FBFCF5;
}

/* fonts */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #013A51;
}

.alt-color,
.alt2-color {
    color: #FFFFFF
}

.preSectionCaption {
    color: #00CA90;
}

main li p,
.btn,
a {
    font-size: 15px;
}

h1 {
    font-size: 60px;
    line-height: 80px;
}

h2 {
    font-size: 42px;
    line-height: 56px;
}

main ul h3 {
    font-size: 24px;
    line-height: 32px;
}

/*buttons=======================================================================================*/

.btn {
    border-radius: 50px;
    text-align: center;
    border: 2px solid #00CA90;
    height: 50px;
    width: 255px;
    vertical-align: middle;
    height: 50px;
    width: 255px;
    padding-top: 12px;
    display: block;
}

.alt-color .btn:nth-of-type(odd),
.alt2-color .btn:nth-of-type(even) {
    background-color: #FFFFFF;
    color: #013A51;
    border: 0;
}

.alt-color .btn:nth-of-type(even),
.btns .btn {
    background-color: #192F44;
    color: #FFFFFF;
    border: 0;
}

.alt2-color .btn:nth-of-type(odd),
.btns .btn:nth-last-of-type(even) {
    background-color: #00CA90;
    color: #FFFFFF;
}

.logo {
    height: 30px;
    width: 110px;
    background-repeat: no-repeat;
    background-size: cover;
}